* { 
	box-sizing: border-box; 
	margin-left: -2px;
}
html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
form {
position: absolute;
text-align: center;
width: 100%;
background: rgba(0,0,0,1);
padding: 10px;
}
input {
height: 40px !important;
border: none;
}
input#search {
width: 40%;
padding: 0 15px;
font-size: 20px;
line-height: 0 !important;
}
input#submit {
background: #0ba;
color: #fff;
text-transform: uppercase;
padding: 0 50px;
font-size: 19px;
}